{% extends "layout.html" %}
{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet"
	  href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.8.0/adyen.css"
	  integrity="sha384-abv8co6wyDCexfM8Iv1sH5xYfTh9wAO5gzwVj0aLZkIOw7dQFEV5ZDwSrywJ7CYf"
	  crossorigin="anonymous">

	<div id="payment-page">
		<div class="container">
			<div class="checkout-component-container">
				<div id="component" class="payment">
					<!-- Component will be rendered here -->
				</div>
<!--				自定义按钮-->
<!--				<button id="test">Pay</button>-->
				<div id="component2" class="payment">

			</div>
		</div>
	</div>


	<script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.8.0/adyen.js"
		integrity="sha384-JM4Li2UogXxSpxmM8Xoj1CeRTyzkcoEaU7cTJlK+34aOZ3k8W+eTVrrvW8kpbphp"
		crossorigin="anonymous"></script>

    <script id="client-key" type="application/json">{{ clientKey }}</script>
    <script id="integration-type" type="application/json">{{ integrationType }}</script>
<!--输入本地JS & CSS-->
<!--<script src="/js/4.0.0-Adyen.js"></script>-->
<!--<link rel="stylesheet" href="/css/dropin.css">-->
    <script src="/js/adyen-implementation.js"></script>
{% endblock %}